<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>5kw2</title>
  <link rel="stylesheet" href="//birdman.qiniudn.com/normalize.css" />
  <link rel="stylesheet" href="//birdman.qiniudn.com/fonts.css" />
  <link rel="stylesheet" href="/assets/css/ionicons.css" />
  <link rel="stylesheet" href="/assets/css/common.css" />
  <script src="//cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
  <script src="/assets/js/main.js"></script>
</head>

<body>

</body>

</html>
