<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no">
    <title>upload to oss</title>
</head>
<body>
  <form action="/api/feed" enctype="multipart/form-data" method="post">
    <input type="file" name="upload">
    <input type="text" name="author" value="rockdai">
    <input type="submit" value="Upload">
  </form>
</body>
</html>
