// fonts
@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?sy7xb3');
    src:url('fonts/icomoon.eot?#iefixsy7xb3') format('embedded-opentype'),
        url('fonts/icomoon.woff?sy7xb3') format('woff'),
        url('fonts/icomoon.ttf?sy7xb3') format('truetype'),
        url('fonts/icomoon.svg?sy7xb3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
