/* Eggshell */

$background: #EDEDED;
$line: #D5D5D5;

$white:#fff;
$purple:#3a5bb2;
$darkpurple:#30324d;
$blue:#2196F3;
$background: #EDEDED;
$light: #ededed;
$black: #4D4D4D;
$read: #FF4136;
$font: 'Roboto', Arial, sans;
$break-small: 770px;
$break-large: 1240px;
$linkColorWhite:#fff #ddd!default;
$linkColorBlue:#399bef #308fe0!default;
$table-line: #CFD8DC;
@import 'eggshell';
@import '_responsive';
// @import '_fonts';
/* Layout */

$header: 2.5*$gutter;
$sidebar: 470px;
$menu: 300px;
$avatar: 24px;
$width: 1040px;
$thin: 700px;
$create: 400px;
$newmenu: 100px;
$newwidth: 1024px;
$newcreate: 400px;
$newradius:50px;
$lightgrey:#9e9e9e;
$red:#e55555;
/* GENERAL */

html, body {
    // height: 100%;
    width: 100%;

    // overflow-x: auto;
    letter-spacing: .3px;
}

body {
  color: $black;
  position: relative;
  font-family: "icomoon","jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana, "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif,;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
  max-width: 100%;
  overflow-x: hidden;
  .no-scroll {
    overflow-y: hidden !important;
  }
}
/* Forms */

label {
    color: tint($black, 20%);
    display: block;
    text-transform: none;
    input {
        color: $black;
        display: block;
        @include font-size();
    }
}
input:not([type=submit]), textarea {
    background: transparent;
    border: 0;
    border-bottom: 1px solid tint($line, 5%);
    border-radius: 0;
    padding: $gutter/4 0;
    @include transition-property(border);
    @include transition-duration(0.2s);
    &:hover {
        background: transparent;
        border-bottom-color: $line;
    }
    &:active, &:focus {
        background: transparent;
        border-bottom-color: $blue;

    }
    &[disabled], &[disabled=disabled], &[disabled=true], &[disabled], &[readonly=true], &[readonly=readonly], &[readonly] {
        border-bottom-color: tint($line, 10%);
        color: $line;
        &:active, &:focus, &:hover {
            background: transparent;
            border-bottom-color: tint($line, 10%);
        }
    }
    &.error {
        border-bottom-color: $red;
    }
}
// Remove tap highlight on iOS
input,
textarea,
button,
select,
label,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
   color: #d5d5d5;
}

:-moz-placeholder { /* Firefox 18- */
   color: #d5d5d5;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #d5d5d5;
}

:-ms-input-placeholder {
   color: #d5d5d5;
}

.hide{display:none}
body.loading {
  &:before,&:after{
      position:fixed!important;
  }
}

.field {
    span,label{
        @include font-size($normal)
    }
    textarea{
        float: left;
        width: 100%;
        height: 100px;
        @include font-size($normal);
        resize: none;
    }
    label{margin-bottom:$gutter;}
    margin-bottom: $gutter;
    position: relative;
    &.readonly {
        // &:before {
        //     @include icon;
        //     bottom: $gutter/4;
        //     color: $grey;
        //     content: 'r';
        //     @include font-size();
        //     right: 0px;
        //     position: absolute;
        // }
    }
}
.select {
    &:after {
        top: $gutter/4;
        right: $gutter/4;
        @include font-size(20);
    }
    select {
        border: 0;
        border-radius: 0;
        padding: $gutter/4 0;
        padding-right: 1.5*$gutter;
        @include font-size($smaller+1);
        color:$grey;
        width: $create+$newmenu;
        //  @include tablet{
        //     width:100%;
        // }
        option{
            float: left;
            width: auto;

        }
        &:active, &:focus {
            background: transparent;
            border-bottom-color: $blue;
        }
    }
}

/* Buttons */

.button, a.button, button.button {
    @include button($background, true);
    font-size: inherit;
    line-height: 140%;
    padding: $gutter/4 $gutter/2;
    text-transform: none;
    &.primary {
        @include button($blue);
    text-transform: uppercase!important;
    border:none!important;
    @include box-shadow(0px 1px 5px rgba(0, 0, 0, 0.09));


    }
    &.secondary {
        @include button($green);
    text-transform: uppercase!important;

    }
    &.remove {
      float: right;
      font-size: 14px!important;
      text-transform: uppercase;
      margin: $gutter/2+2;
      width: auto!important;
      height: $gutter+16;
      border:none;
      background: none!important;
      box-shadow:none;
      color:$red!important;
      padding:0px!important;
      margin:0px;
      &:hover{
          background:none;
          color: shade($black, 40%);
      }
    }
    &.primary, &.secondary{
        font-size: inherit;
        line-height: 140%;
        padding: $gutter/4 $gutter/2;
        text-transform: none;
    }
}

img.avatar {
  float: left;
  margin-right: $gutter/4;
  width: 24px;
  height: 24px;
  border-radius:50%;
  margin-right:$gutter/2;
}

.hide {
  display: none !important;
}

.score span,
.time {
  font-family: "icomoon", "georgia"
}

/* HEADER */

#header {
  background: #FFF;
  height: $header;
  @include box-shadow(0 0 1px rgba(0,0,0,0.15));
  left: 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 6;
  text-align: center;
  .user{
    float: right;
    height: 24px;
    line-height: 24px;
    margin:12px;
    color:$black;
    span{
      float: left;
      margin-right: $gutter/2;
    }
    &:hover{
      color: #000;
    }
  }
  .logo {
    margin: 0 auto;
    text-align: center;
  }
  h1 {
      @include font-size($larger+4);
      line-height: 1;
      padding: $gutter/2+2;
      height: $gutter+16;
      line-height:  $gutter+16;
      margin:0px;
      font-weight: bolder;
  }

}

#loading {
  position: fixed;
  left: 50%;
  top: 50%;
}

/* couton */
.crouton {
    color: #FFF;
    @include font-size($smaller);
    line-height: 140%;
    border-radius: $radius;
    position: fixed;
    max-width: 700px;
    width: 70%;
    top: 0px;
    left: 15%;
    text-align: center;
    z-index: 999;
    div {
        padding: $gutter/2;
        &.info {
            background-color: #1F8DD6;
        }
        &.success {
            background-color: #50CD84;
        }
        &.warning {
            background-color: #FF8859;
        }
        &.error {
            background-color: #FF5F5F;
        }
        span {
            display: block;
            margin-bottom: 0;
            margin-left: $gutter / 2;
        }
        .buttons {
            text-align: right;
            button {
                &.retry, &.close, &.cancel, &.ignore {
                    padding: $gutter/4 ($gutter - 5);
                    border: 1px solid transparent;
                    border-radius: $radius;
                }
                &:hover {
                    opacity: .75;
                }
                &.retry {
                    border-color: #FFF;
                }
            }
        }
    }
}
/* main */
#main {
  margin-top: $header;
  margin-bottom: $header;
  overflow-x: hidden;
  h1 {
      @include font-size($gigantic);
      line-height: 120%;
  }
  h2 {
      @include font-size($huge);
  }
  h3 {
      @include font-size($large);
  }

}

#wx_suck {
  display: none;
  img {
    min-width: 351px;
    min-height: 351px;
  }
}

.menu {
  z-index: 102;
  background-color: rgba(0, 0, 0, 0.5);
  &.buttom {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .actions {
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    .action {
      height: $header - 10;
      background-color: #FDFDFD;
      border-radius: 4px;
      border-color: rgba(12, 12, 12, 0.3);
      border-width: 1.5px;
      border-style: solid;
      text-align: center;
      font-size: 1.0em;
      margin-top: 8px;
      color: $blue;
      button {
        width: 100%;
        height: 100%;
      }
      &.cancel {
        color: rgba(12, 12, 12, 0.7);
        margin-top: 15px;
      }
    }
  }
}

.photos {
  padding-top: 12px;
  // width: 99.9%;
  // margin: 0 auto;
  margin-left: 8px;
  margin-right: 8px;
  max-width: 99.9%;
  .no {
    margin: 0 auto;
  }
  .item {
    height: 100px;
    width: 100px;
    margin: 1px 0 0 1px;
    border-radius: $radius 0 0 $radius;
    border-color: rgba(0, 0, 0, 0.02);
    border-width: thin;
    border-style: solid;
    // padding: 3px;
    display: inline-block;
    position: relative;
    //galaxy s4
    @media (max-width: 375px) and (min-width: 350px) {
      height: 113px;
      width: 113px;
    }
    //iphone6
    @media (max-width: 400px) and (min-width: 375px) {
      height: 118px;
      width: 118px;
    }
    // horizontal 6
    @media (max-width: 675px) and (min-width: 650px) {
      height: 148px;
      width: 148px;
    }
    // galaxy note
    @media screen and (width: 400px) {
      height: 122px;
      width: 122px;
    }
    // iphone 6plus
    @media (max-width: 450px) and (min-width: 401px) {
      height: 131px;
      width: 131px;
    }
    // Sony u
    @media (max-width: 500px) and (min-width: 475px) {
      height: 153px;
      width: 153px;
    }
    // horizontal 6plus
    @media (max-width: 750px) and (min-width: 700px) {
      height: 125px;
      width: 125px;
    }
    @media (max-width: 300px) and (min-width: 200px) {
      height: 110px;
      width: 110px;
    }
    @media (max-width: 200px){
      height: 110px;
      width: 100%;
    }
    div {
      left: 50%;
      height: 100%;
      float: left;
      position: relative;
    }
    img {
      display: block;
      position: relative;
      left: -50%;
      max-height: 100%;
      max-width: 100%;
    }
    .score {
      // display: none;
      height: 20px;
      position: absolute;
      left: 0;
      margin: 8px;
      text-align: left;
      text-stroke:1px rgba(255,255,255,0.5);
       -moz-text-stroke:1px rgba(255,255,255,0.5);
      -webkit-text-stroke:1px rgba(255,255,255,0.5);
      span {
        height: 100%;
        width: 100%;
        line-height: normal;
        color: $red;
        font-size: 0.89em;
        letter-spacing: 0.1em;
      }
      .icon-h:before {
        content: "\e601";
        padding-right: $gutter/10;
      }
    }
    div {
      bottom: 0;
      text-align: center;
    }
  }
  // .item:hover .score {
  //   display: block;
  // }
}

.person {
  .setting {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 10;
    a {
      display: block;
      text-align: center;
      font-size: 1.4em;
    }
    .i-cog:before {
      content: "\e609"
    }
  }
  .header {
    // padding-bottom: 45px;
    width: 100%;
    overflow: hidden;
    *position: relative;
    text-align: center;
    display: inline-block;
    h2 {
      color: $blue;
      margin-top: 15px;
    }
    .line {
      height: 1px;
      margin-top: 40px;
      background-color: rgba(0,0,0,0.12);
    }
    .avatar {
      position: absolute;
      z-index: 2;
      left: 50%;
      top: 0;
      margin-left: -45px;
      margin-top: 75px;
      display: none;
      img {
        margin-right: $gutter/4;
        width: 90px;
        height: 90px;
        border-radius:50%;
        margin-right:$gutter/2;
        display: block;
        position: relative;
      }
    }
  }
}

/*footer*/
#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $header;
  z-index: 6;
  background: #FFFFFF;
  @include box-shadow(0 0 1px rgba(0,0,0,0.15));
  .items {
    width: 90%;
    margin: 0 auto;
    padding-top: 12px;
    text-align: center;
    .item {
      display: inline-block;
      width: 30%;
      a {
        float: none;
      }
    }

    span {
      @include font-size($large)
    }
    a{
      float:left;
      @include transition(all 0.1s ease);
      &:hover{
        opacity:0.8
      }
    }

    input {
      margin:0;
      bottom:0;
      padding:0;
      opacity:0;
      height:60px;
      outline:none;
      cursor:inherit;
      position:absolute;
      width: 48px;
      height: 48px;
      z-index: 10;
      margin: 0 auto;
      margin-left: -42px;
    }
    .icon-f:before {
      content: "\e604";
    }
    .icon-u:before {
      content: "\e600";
    }
    .icon-i:before {
      content: "\e603";
      font-size: 1.6em;
    }
  }
}

/* modal */
.modal {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    background: rgba(255, 255, 255, 0.8);
    &.m-hide {
      display: none !important;
    }
    .small-title {
        margin-bottom: 8px;
        display: inline-block
    }

    .modal--control {
        display: block;
        position: absolute;
        text-align: center;
        background: rgba(204, 197, 195, 0.8);
        border-radius: 3px 0 0 3px;
        height: 40px;
        line-height: 42px;
        right: 700px;
        width: 35px;
        z-index: 11;
        path {
          fill: rgba(83, 69, 64, 0.5);
          height: 12px;
           width: 12px;
        }
        &.v-close {
          top: 15px;
          .i-arrow-left:before {
            content: '\e607';
          }
        }
    }

    &.m-active {
      .modal--content {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);

      }
      .modal--control {
        @media (min-width:769px) {
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
    .modal--content {
        width: 700px;
        height: 99.99%;
        position: absolute;
        z-index: 50;
        top: 0px;
        right: 0px;
        bottom: 0px;
        background: white;
        box-shadow: -1px 0px 2px 0px rgba(0, 0, 0, 0.25);
        overflow: visible;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        @media (max-width:768px) {
          width: 100%
        }

        .menu {
          max-width: 700px;
        }

        .upload {
          height: 100%;
          .header {
            height: 10%;
            background-color: #1E1E1E;
            max-height: 80px;
            @media (max-height: 360px) {
                height: 20%;
            }
            @media (max-height: 500px) and (min-width: 360px) {
                height: 12%;
            }
            button {
              float: right;
              margin-right: 20px;
              font-weight: bolder;
              background-color: rgba(0, 0, 0, 0.13);
              height: $header;
              margin-top: 1%;
              display: block;
              text-align: center;
              padding-right: 3px;
              padding-left: 3px;
            }
          }
          .editor {
            height: 90%;
            width: 100%;
            overflow: hidden;
             @media (max-height: 360px) {
                height: 80%;
            }
            @media (max-height: 500px) and (min-width: 360px) {
                height: 88%;
            }
            .imglykit-container {
              -moz-border-radius: initial;
              -webkit-border-radius: initial;
              border-radius: initial;
              .imglykit-header {
                display: none;
              }
              .imglykit-top-controls {
                &.imglykit-header-padding {
                  top: 0;
                }
              }
            }
          }
        }

        .login {
          .form {
            width: 70%;
            top: 50%;
            margin: 0 auto;
            display: block;
            margin-top: 80px;

            .control {
              height: $header*0.8;
              width: 240px;
              margin: 0 auto;
              margin-top: 15px;
              input{
                  width: 210px;
              }
              span {}
              &.tips {
                width: 160px;
                font-size: 0.9em;
                padding: 12px;
                height: auto;
                border-color: $blue;
                border-style: solid;
                border-width: 1px;
                p {
                  margin: 0 0 5px;
                }
              }
              &.link {
                width: 160px;
                position: relative;
                font-size: 0.9em;
                margin: 0 auto;
                margin-top: 60px;
              }
            }
            span {
              bottom: 0;
            }

            input[type=submit] {
              float: right;
              margin-top: 40px;
              width: 240px;
              height: $header*0.8;
            }
            .field {
              display: table;
              width: 240px;
              margin: 0 auto;
              margin-bottom: 15px;
              .control {
                width: 60px;
                display: table-cell;
                position: relative;
              }
              span {
                padding-bottom: 5px;
                position: absolute;
                bottom: 0;
              }
              input {
                width: 100%;
                display: table-cell;
              }
            }
          }

        }

        .header {
          width: 100%;
          overflow: hidden;
          position: relative;
          // max-height: 89%;
          border-width: 1px;
          border-color: rgba(0,0,0,0.12);
          border-style: solid;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          .image {
            width: 360px;
            height: 360px;
            margin: 0 auto;
            div {
              left: 50%;
              height: inherit;
              float: left;
              position: relative;
            }
            img {
              display: block;
              position: relative;
              left: -50%;
              max-width: 100%;
              max-height: 100%;
              width: auto;
              height: auto;
            }
          }
          .share {
            .modal--control {
              right: 25px;
              top: 20px;
              background: rgba(0, 0, 0, 0.2);
            }
            span {
              color: $white;
              font-size: 1.2em;
            }
            .icon-s:before {
              content: "\e602";
              padding-right: 4px;
            }
          }
          .vote {
            width: 54px;
            height: 54px;
            border-radius: 50%;
            // box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
            border-color: rgba(200, 60, 10, 0.3);
            background-color: rgba(229, 214, 209, 0.25);
            border-width: 1.5px;
            border-style: solid;
            position: absolute;
            top: 240px;
            text-align: center;
            span {
              font-weight: bold;
              font-size: 1.8em;
              text-align: center;
              padding-top: 10px;
            }
            a {
              margin: 0 auto;
            }
            .icon-h:before {
                content: "\e601";
                color: $red;
            }
            &.up {
              left: 20%;
               span {
                position: absolute;
                left: 23%;
                top: 14%;
              }
            }
            &.down {
              right: 20%;
              span {
                position: absolute;
                left: 24%;
                top: 10%;
              }
            }
            @media (max-width:768px) {
              &.up {
                left: 18%;
              }
              &.down {
                right: 18%;
              }
            }
            @media (max-width:400px) {
              &.up {
                left: 13%;
              }
              &.down {
                right: 13%;
              }
            }

          }
        }

        .author {
            font-size: 0.9em;
            height: $header - 10;
            background-color: rgba(253, 253, 253, 0.29);
            // color: #FDFDFD;
            width: inherit;
            // position: absolute;
            // bottom: 0;
            div {
              display: inline-block;
              margin-top: 10px;
            }
            .name {
              font-size: 1.2em;
              margin-left: 15px;
              .delete,
              .time {
                font-size: 0.7em;
                margin-left: 8px;
              }
              .time {
                font-weight: bolder;
              }
            }
            .score {
              // position: relative;
              /* top: -10px; */
              /* text-align: right; */
              float: right;
              // margin-top: 10px;
              margin-right: 30px;
              color: $red;
              font-size: 1.5em;
              span:before {
                content: "\e605";
                letter-spacing: 5px;
                // font-size: 1.8em;
              }
            }
            .more {
              float: right;
              margin-right: 15px;
              font-size: 1.5em;
              margin-top: 0px;
              a {
                width: 40px;
                height: 40px;
                display: block;
                text-align: center;
              }
              .i-more {
                display: block;
                padding-top: 10px;
              }
              .i-more:before {
                content: "\e608"
              }
            }
            a {
              span {
                margin-left: 0;
                float: none;
              }
            }
        }

        .comments {
          margin: 0 15px;
          margin-bottom: 80px;
          margin-top: 5px;
          p {
            text-align: left;
          }
          .comment {
            // margin: 0 0 10px;
            padding: 0px 0 0px 65px;
            position: relative;
            // border-bottom-color: rgba(0, 0, 0, 0.08);
            // border-bottom-width: 1px;
            // border-bottom-style: solid;
            &.disable {
              a {
                color: rgba(0,0,0,0.2);
              }
            }
            a {
              left: 1px;
              position: absolute;
              // margin-top: 2px;
              font-size: 0.9em;
              // color: #000;
              .avatar {
                display: none;
                margin: 0 auto;
                display: none;
                float: none;
              }
              span {
                display: block;
                max-width: 60px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            .body {
              color: rgba(12, 12, 12, 0.9);
              font-size: 0.8em;
              // line-height: 1px;
              max-width: 80%;
              -ms-word-break: break-all;
              word-break: break-all;
              /* Non standard for webkit */
              word-break: break-word;
              -webkit-hyphens: auto;
                 -moz-hyphens: auto;
                  -ms-hyphens: auto;
                      hyphens: auto;
            }
          }
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            max-width: 700px;
            z-index: 101;
            height: $header;
            border-top-style: solid;
            border-top-width: 1px;
            border-top-color: rgba(0,0,0,0.12);
            background-color: $white;
            padding-bottom: 10px;
            .input {
              margin: 0 30px;
              margin-top: 10px;
            }
            input {
              width: 80%;
              @media (max-width:500px) {
                width: 75%;
              }
            }

            button {
              border-radius: 3px;
              margin-left: 5%;
              text-align: center;
              padding-right: 10px;
              padding-left: 10px;
              padding-bottom: 5px;
            }
        }

        .modal--control {
            background: rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            height: 30px;
            line-height: 29px;
            top: 30px;
            width: 30px;
            z-index: 200;
            &.v-close {
              left: 25px;
              top: 20px;
              color: $white;
              font-size: 1.45em;
            }
        }
    }
}

// flower loading
@-moz-keyframes flower-loader {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px;
  }
}
@-webkit-keyframes flower-loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
  }
  50% {
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -webkit-box-shadow: white 0 0 15px 0, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px;
  }
}
@keyframes flower-loader {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
    -webkit-box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
    box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
  }
  50% {
    -moz-transform: rotate(1080deg);
    -ms-transform: rotate(1080deg);
    -webkit-transform: rotate(1080deg);
    transform: rotate(1080deg);
    -moz-box-shadow: white 0 0 15px 0, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px;
    -webkit-box-shadow: white 0 0 15px 0, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px;
    box-shadow: white 0 0 15px 0, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px;
  }
}
/* :not(:required) hides this rule from IE9 and below */
.flower-loader:not(:required) {
  overflow: hidden;
  position: relative;
  text-indent: -9999px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #e96;
  border-radius: 100%;
  -moz-box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
  -webkit-box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
  box-shadow: white 0 0 15px 0, #fd8 -12px -12px 0 4px, #fd8 12px -12px 0 4px, #fd8 12px 12px 0 4px, #fd8 -12px 12px 0 4px;
  -moz-animation: flower-loader 5s infinite ease-in-out;
  -webkit-animation: flower-loader 5s infinite ease-in-out;
  animation: flower-loader 5s infinite ease-in-out;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  position: absolute;
  top: 50%;
  left: 50%;
   &:before {
    background: rgba(255, 255, 255, 0.8);
    bottom: 0;
    content: ' ';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
  }
}

@-moz-keyframes heartbeat-loader {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@-webkit-keyframes heartbeat-loader {
  0% {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
@keyframes heartbeat-loader {
  0% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  14% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  28% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
  42% {
    -moz-transform: rotate(45deg) scale(1.3);
    -ms-transform: rotate(45deg) scale(1.3);
    -webkit-transform: rotate(45deg) scale(1.3);
    transform: rotate(45deg) scale(1.3);
  }
  70% {
    -moz-transform: rotate(45deg) scale(1);
    -ms-transform: rotate(45deg) scale(1);
    -webkit-transform: rotate(45deg) scale(1);
    transform: rotate(45deg) scale(1);
  }
}
/* :not(:required) hides this rule from IE9 and below */
.heartbeat-loader:not(:required) {
  -moz-animation: heartbeat-loader 1300ms ease 0s infinite normal;
  -webkit-animation: heartbeat-loader 1300ms ease 0s infinite normal;
  animation: heartbeat-loader 1300ms ease 0s infinite normal;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -9999px;
  width: 36px;
  height: 36px;
  -moz-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  -webkit-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.heartbeat-loader:not(:required):after,
.heartbeat-loader:not(:required):before {
  position: absolute;
  content: "";
  background: #e87;
}
.heartbeat-loader:not(:required):before {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-bottomleft: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
  top: 12px;
  left: 0;
  width: 36px;
  height: 24px;
}
.heartbeat-loader:not(:required):after {
  -moz-border-radius-topleft: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -moz-border-radius-topright: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
  top: 0;
  left: 12px;
  width: 24px;
  height: 12px;
}
