body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.bar {
  background-color: #45d4da;
  color: #fff;
  border-bottom: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.26);
}
.bar a {
  color: #fff;
}
.bar a:active {
  color: #ccc;
}
.title {
  color: #fff;
}
.segmented-control {
  max-width: 147px;
  border-color: #fff;
}
.segmented-control .control-item {
  border-left-color: #45d4da;
  color: #45d4da;
}
.segmented-control .control-item.active {
  background-color: #45d4da;
  color: #fff;
}
#map {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
}
#post-btn {
  position: absolute;
  right: 19px;
  bottom: 19px;
  background-color: #45d4da;
  color: #fff;
  width: 57px;
  height: 57px;
  font-size: 32px;
  line-height: 57px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.42);
}
#post-btn:active {
  color: #ccc;
}
.input-row:last-child {
  border-bottom-color: transparent;
}
#post-form {
  height: 100%;
  display: -webkit-box;
  display:    -moz-box;
  display:         box;
  -webkit-box-orient: vertical;
     -moz-box-orient: vertical;
          box-orient: vertical;
}
#post .input-row {
  display: -webkit-box;
  display:    -moz-box;
  display:         box;
  padding: 5px 0;
  height: auto;
}
#post .input-row label {
  padding: 8px;
  width: 127px;
  float: none;
  display: -webkit-box;
  display:    -moz-box;
  display:         box;
  color: #757575;
}
#post .input-row input {
  float: none;
  width: auto;
  display: -webkit-box;
  display:    -moz-box;
  display:         box;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
          box-flex: 1;
}
#post-input {
  margin-bottom: 0;
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 15px;
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
          box-flex: 1;
  display: -webkit-box;
  display:    -moz-box;
  display:         box;
  resize: none;
}
.BMapLabel {
  background-color: rgba(0,0,0,.6) !important;
  border-radius: 5px !important;
  color: #fff !important;
  padding: 5px 6px !important;
  border: none !important;
}
